//*-----------------------------------------------
//|   Fonts Family class
//-----------------------------------------------*/
.font-base {
  font-family: $font-base !important;
}

//*-----------------------------------------------
//|   Fonts weight class
//-----------------------------------------------*/
.extra-bold {
  font-weight: 800;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.extra-light {
  font-weight: 200;
}

//*-----------------------------------------------
//|   Fonts Size class
//-----------------------------------------------*/
.heading-1 {
  font-size: 48px;
}

.heading-2 {
  font-size: 40px;
}

.heading-3 {
  font-size: 32px;
}

.heading-4 {
  font-size: 24px;
}

.heading-5 {
  font-size: 20px;
}

.heading-6 {
  font-size: 18px;
}

.body-1 {
  font-size: 18px;
}

.body-2 {
  font-size: 16px;
}

.body-3 {
  font-size: 14px;
}

.body-4 {
  font-size: 12px;
}

.body-5 {
  font-size: 10px;
}

//*-----------------------------------------------
//|   Fonts color class
//-----------------------------------------------*/

.text-line {
  color: $line;
}

.text-line-dark {
  color: $line-dark;
}

.text-gray-100 {
  color: $gray-100;
}

.text-gray-200 {
  color: $gray-200;
}

.text-gray-300 {
  color: $gray-300;
}

.text-gray-400 {
  color: $gray-400;
}

.text-gray-500 {
  color: $gray-500;
}

.text-gray-600 {
  color: $gray-600;
}

.text-gray-700 {
  color: $gray-700;
}

.text-gray-800 {
  color: $gray-800;
}

.text-gray-900 {
  color: $gray-900;
}

.text-gray-1000 {
  color: $gray-1000;
}

.text-gray-1100 {
  color: $gray-1100;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-soft-primary {
  color: $soft-primary;
}

.text-success {
  color: $success;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.text-pending {
  color: $pending;
}

.text-danger {
  color: $danger;
}

.text-light {
  color: $light;
}

.text-dark {
  color: $dark;
}

/* TYPOGRAPHY */
.body-medium-medium {
  //styleName: Body Text/Medium/Medium;
  font-family: $font-base;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
}

.body-large-semibold {
  //styleName: Body Text/Large/SemiBold;
  font-family: $font-base;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
}

.body-medium-semibold {
  //styleName: Body Text/Medium/SemiBold;
  font-family: $font-base;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
}
