// user-variables.scss
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

//*-----------------------------------------------
//|   Fonts Families
//-----------------------------------------------*/
$font-base: "Plus Jakarta Sans" !default;
$font-number: "Poppins" !default;

// Place your own variable overrides here, these will override any Bootstrap and theme variables.
//*-----------------------------------------------
//|   Theme Colors
//-----------------------------------------------*/
//*-----------------------------------------------
//|   Color System
//-----------------------------------------------*/

$white: #FEFEFE !default;
$line: #E3E7EC !default;
$black: #111111 !default;
$line-dark: #4A4A65 !default;

$gray-100: #FDFDFD !default;
$gray-200: #ECF1F6 !default;
$gray-300: #E3E9ED !default;
$gray-400: #D1D8DD !default;
$gray-500: #BFC6CC !default;
$gray-600: #9CA4AB !default;
$gray-700: #78828A !default;
$gray-800: #66707A !default;
$gray-900: #434E58 !default;
$gray-1000: #171725 !default;
$gray-1100: #0b1828 !default;

$grays: (
  "black": $black,
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
  "1000": $gray-1000,
  "1100": $gray-1100,
  "white": $white,
) !default;

//*-----------------------------------------------
//|   Solid Colors Light
//-----------------------------------------------*/
$blue: #2196F3 !default;
$indigo: #727cf5 !default;
$purple: #6b5eae !default;
$pink: #ff679b !default;
$red: #E53935 !default;
$orange: #FF784B !default;
$yellow: #FACC15 !default;
$green: #00C566 !default;
$teal: #02a8b5 !default;
$cyan: #27bcfd !default;
$bg-color-primary: #fff !default;
$color-primary: #ffae00;

$blue: #2196F3 !default;
$indigo: #727cf5 !default;
$purple: #6b5eae !default;
$pink: #ff679b !default;
$red: #E53935 !default;
$orange: #FF784B !default;
$yellow: #FACC15 !default;
$green: #00C566 !default;
$teal: #02a8b5 !default;
$cyan: #27bcfd !default;
$bg-color-primary: #fff !default;
$color-primary: #ffae00;
$text-color-primary: #424141;

//*-----------------------------------------------
//|   Solid Colors Dark
//-----------------------------------------------*/
$text-dark-primary: #d8e2ef;

//*-----------------------------------------------
//|   Theme Colors
//-----------------------------------------------*/
$primary: $blue !default;
$secondary: #F6F8FE !default;
$soft-primary: #E7F4FE !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$pending: $orange !default;
$danger: $red !default;
$light: $line !default;
$dark: $line-dark !default;

:root,
:root.light,
:root .light {
  --text-color: #{$text-color-primary};
}

.dark{
  --text-color:#{$text-dark-primary};
}

@import 'user-text';
@import 'user-custom';
@import 'user-theme';